.example-container {
    position: relative;
}

.example-img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 9;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #343a40;
}

.example-container:hover .overlay {
    opacity: .85;
}

.example-text {
    font-size: 2rem;
    position: relative;
    text-align: center;
}

